@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<h3>Ventana principal</h3>
<form method="post" asp-page-handler="Agregar">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" required name="Nombre" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" required name="Apellido" id="apellido" placeholder="Apellido">
    </div>
    <div class="form-group">
        <label for="provincia">Provincia</label>
        <select id="provincia" class="form-control" name="IdProvincia">
            @foreach (var item in Model.PersonasProvinciasDto.Provincias)
            {
                <option value="@item.ProvinciaId">@item.NombreProvincia</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<br />
<hr />

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Provincia</td>
            <td>Accion 1</td>
            <td>Accion 2</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonasProvinciasDto.Personas)
        {
            <tr>
                <td>@item.PersonAId</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.NombreProvincia</td>
                <td>
                    <form method="post" asp-page-handler="Eliminar">
                        <button type="submit" name="Eliminar" value="@item.PersonAId" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-page="Editar">
                        <button type="submit" name="Editar" value="@item.PersonAId" class="btn btn-info">Editar</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>

</table>
